<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
      <taglib-location>/WEB-INF/fmt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
      <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/c.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
      <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
      <taglib-location>/WEB-INF/sql.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
      <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
      <taglib-location>/WEB-INF/x.tld</taglib-location>
    </taglib>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
      <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>recordApplicationServlet</servlet-name>
    <servlet-class>servlet.RecordApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>recordApplicationServlet</servlet-name>
    <url-pattern>/recordApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getUserApplicationRecord</servlet-name>
    <servlet-class>servlet.GetUserApplicationRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserApplicationRecord</servlet-name>
    <url-pattern>/getUserApplicationRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addUserServlet</servlet-name>
    <servlet-class>servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUserServlet</servlet-name>
    <url-pattern>/addUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteApplicationServlet</servlet-name>
    <servlet-class>servlet.DeleteApplicationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteApplicationServlet</servlet-name>
    <url-pattern>/deleteApplicationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getUserServlet</servlet-name>
    <servlet-class>servlet.GetUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserServlet</servlet-name>
    <url-pattern>/getUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteUserServlet</servlet-name>
    <servlet-class>servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteUserServlet</servlet-name>
    <url-pattern>/deleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateUserServlet</servlet-name>
    <servlet-class>servlet.UpdateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateUserServlet</servlet-name>
    <url-pattern>/updateUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAnnouncementServlet</servlet-name>
    <servlet-class>servlet.GetAnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAnnouncementServlet</servlet-name>
    <url-pattern>/getAnnouncementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteAnnouncementServlet</servlet-name>
    <servlet-class>servlet.DeleteAnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAnnouncementServlet</servlet-name>
    <url-pattern>/deleteAnnouncementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addAnnouncementServlet</servlet-name>
    <servlet-class>servlet.AddAnnouncementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addAnnouncementServlet</servlet-name>
    <url-pattern>/addAnnouncementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addBookServlet</servlet-name>
    <servlet-class>servlet.AddBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addBookServlet</servlet-name>
    <url-pattern>/addBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getBookServlet</servlet-name>
    <servlet-class>servlet.GetBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBookServlet</servlet-name>
    <url-pattern>/getBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteBookServlet</servlet-name>
    <servlet-class>servlet.DeleteBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteBookServlet</servlet-name>
    <url-pattern>/deleteBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateBookServlet</servlet-name>
    <servlet-class>servlet.UpdateBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateBookServlet</servlet-name>
    <url-pattern>/updateBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getBookByType</servlet-name>
    <servlet-class>servlet.GetBookByType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBookByType</servlet-name>
    <url-pattern>/getBookByType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>borrowBookServlet</servlet-name>
    <servlet-class>servlet.BorrowBookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>borrowBookServlet</servlet-name>
    <url-pattern>/borrowBookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getBorrowingRecord</servlet-name>
    <servlet-class>servlet.GetBorrowingRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBorrowingRecord</servlet-name>
    <url-pattern>/getBorrowingRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getBookName</servlet-name>
    <servlet-class>servlet.GetBookName</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBookName</servlet-name>
    <url-pattern>/getBookName</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateBorrowingRecord</servlet-name>
    <servlet-class>servlet.UpdateBorrowingRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateBorrowingRecord</servlet-name>
    <url-pattern>/updateBorrowingRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getUnreturnRecord</servlet-name>
    <servlet-class>servlet.GetUnreturnRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUnreturnRecord</servlet-name>
    <url-pattern>/getUnreturnRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getRecordByType</servlet-name>
    <servlet-class>servlet.GetRecordByType</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getRecordByType</servlet-name>
    <url-pattern>/getRecordByType</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getBookNameById</servlet-name>
    <servlet-class>servlet.GetBookNameById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getBookNameById</servlet-name>
    <url-pattern>/getBookNameById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>renewBorrowingRecord</servlet-name>
    <servlet-class>servlet.RenewBorrowingRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>renewBorrowingRecord</servlet-name>
    <url-pattern>/renewBorrowingRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteRecordServlet</servlet-name>
    <servlet-class>servlet.DeleteRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteRecordServlet</servlet-name>
    <url-pattern>/deleteRecordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getLastDayRecord</servlet-name>
    <servlet-class>servlet.GetLastDayRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getLastDayRecord</servlet-name>
    <url-pattern>/getLastDayRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getLastWeekRecord</servlet-name>
    <servlet-class>servlet.GetLastWeekRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getLastWeekRecord</servlet-name>
    <url-pattern>/getLastWeekRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getLastMonthRecord</servlet-name>
    <servlet-class>servlet.GetLastMonthRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getLastMonthRecord</servlet-name>
    <url-pattern>/getLastMonthRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getWriterNameById</servlet-name>
    <servlet-class>servlet.GetWriterNameById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getWriterNameById</servlet-name>
    <url-pattern>/getWriterNameById</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getReaderLastDayRecord</servlet-name>
    <servlet-class>servlet.GetReaderLastDayRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReaderLastDayRecord</servlet-name>
    <url-pattern>/getReaderLastDayRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getReaderLastWeekRecord</servlet-name>
    <servlet-class>servlet.GetReaderLastWeekRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReaderLastWeekRecord</servlet-name>
    <url-pattern>/getReaderLastWeekRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getReaderLastMonthRecord</servlet-name>
    <servlet-class>servlet.GetReaderLastMonthRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReaderLastMonthRecord</servlet-name>
    <url-pattern>/getReaderLastMonthRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getRecordByReaderId</servlet-name>
    <servlet-class>servlet.GetRecordByReaderId</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getRecordByReaderId</servlet-name>
    <url-pattern>/getRecordByReaderId</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkReader</servlet-name>
    <servlet-class>servlet.CheckReader</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkReader</servlet-name>
    <url-pattern>/checkReader</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkReaderRecord</servlet-name>
    <servlet-class>servlet.CheckReaderRecord</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkReaderRecord</servlet-name>
    <url-pattern>/checkReaderRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>payFine</servlet-name>
    <servlet-class>servlet.PayFine</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>payFine</servlet-name>
    <url-pattern>/payFine</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getAvailableAmount</servlet-name>
    <servlet-class>servlet.GetAvailableAmount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getAvailableAmount</servlet-name>
    <url-pattern>/getAvailableAmount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>borrowBookByIsbn</servlet-name>
    <servlet-class>servlet.BorrowBookByIsbn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>borrowBookByIsbn</servlet-name>
    <url-pattern>/borrowBookByIsbn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>borrowBookByIsbns</servlet-name>
    <servlet-class>servlet.BorrowBookByIsbns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>borrowBookByIsbns</servlet-name>
    <url-pattern>/borrowBookByIsbns</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>returnBookByIsbn</servlet-name>
    <servlet-class>servlet.ReturnBookByIsbn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>returnBookByIsbn</servlet-name>
    <url-pattern>/returnBookByIsbn</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>returnBookByIsbns</servlet-name>
    <servlet-class>servlet.ReturnBookByIsbns</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>returnBookByIsbns</servlet-name>
    <url-pattern>/returnBookByIsbns</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkReader2</servlet-name>
    <servlet-class>servlet.CheckReader2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkReader2</servlet-name>
    <url-pattern>/checkReader2</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>getReaderNameById</servlet-name>
    <servlet-class>servlet.GetReaderNameById</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getReaderNameById</servlet-name>
    <url-pattern>/getReaderNameById</url-pattern>
  </servlet-mapping>
</web-app>